# Firebase (Client-side)
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id

# Firebase Admin (Server-side) - JSON stringified service account key
FIREBASE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"..."}

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Admin emails (через запятую)
# Эти email будут иметь доступ к админ-панели /admin
NEXT_PUBLIC_ADMIN_EMAILS=your-email@gmail.com,another-admin@gmail.com

# VIP emails (через запятую)
# Эти email будут иметь доступ ко всем курсам без покупки, но без доступа к админке
NEXT_PUBLIC_VIP_EMAILS=vip1@gmail.com,vip2@gmail.com

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000


  apiKey: "AIzaSyD5GLJc8GISvc52EQ4LW9m7smcQXbOYXqo",
  authDomain: "chef-recipes-4d853.firebaseapp.com",
  projectId: "chef-recipes-4d853",
  storageBucket: "chef-recipes-4d853.firebasestorage.app",
  messagingSenderId: "12931173856",
  appId: "1:12931173856:web:26d349de5de5550927ef85"